.chatbox {
  display: flex;
  height: calc(100vh - 104px);
}

.content {
  width: 100%;
  border: solid 1px #d9d9d9;
  border-radius: 4px;
  background-color: #fbfbfb;
  margin-bottom: 10px;
  padding: 10px 15px;
  overflow-y: scroll;
  flex-grow: 1;
}

.flex-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.friend {
  padding: 10px 15px;
  border: solid 1px #d9d9d9;
  border-radius: 4px;
  background-color: #fbfbfb;
  width: 150px;
  margin-left: 10px;
}
